<div class="header">
    <h1>Voting App - Add Candidate</h1>
  </div>

  <div class="container">
    <form (ngSubmit)="SubmitCandidate()">
      <div class="form-group">
        <label for="candidateName">Candidate Name</label>
        <input type="text" [(ngModel)]="candidateModel.CandidateName" id="candidateName" name="candidateName" required>
        <div *ngIf="message !== ''" style="color: red;">{{message}}</div>
      </div>
      <div class="form-group">
        <button type="submit">Add Candidate</button>
      </div>
    </form>
    <!-- Child Component - Candidate List -->
    <app-getallcandidates *ngIf="candidateList && candidateList.length > 0" [candidates]="candidateList"></app-getallcandidates>
  </div>
